body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light;
    --background-color: #ffffff;
    --primary-background-color: #eee8ff;
    --secondary-background-color: #f1f6f9;
    --active-background-color: #f5f5f5;
    --standard-shadow-color: rgba(100, 100, 111, 0.2);
    --active-shadow-color: rgba(100, 100, 111, 0.3);
    --text-color: #242424;
    --neutral-text-color: #d1d1d1;
    --primary-text-color: #7520f5;
    --fa-inverse: var(--background-color);
    --success-color: rgba(50, 200, 50);
    --failure-color: rgba(177, 72, 107);
    /* Non-color specific */
    --border-radius-small: 0.5em;
    --border-radius-large: 1em;
    --interactive-element-padding: 0.5em 0.8em;
}

[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #292929;
    --primary-background-color: #4c0aa8;
    --secondary-background-color: #141414;
    --active-background-color: #383838;
    --standard-shadow-color: rgba(0, 0, 1, 0.5);
    --active-shadow-color: rgba(0, 0, 1, 0.7);
    --text-color: #f8f8ff;
    --neutral-text-color: #666666;
    --primary-text-color: #a375ff;
    --fa-inverse: var(--background-color);
    --success-color: palegreen;
    --failure-color: palevioletred;
}

.theme-toggle {
    font: inherit;
    vertical-align: middle;
    line-height: 1.2em;

    >* {
        opacity: 0.5;
        margin-left: 0.2em;
    }

    > :first-child {
        opacity: 1;
        font-size: 1.2em;
        margin-left: 0;
        margin-right: 0.3em;
    }
}

.App {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
}

.flex-row {
    display: flex;
    flex-direction: row;

    &>*:not(:first-child) {
        margin-left: 0.5em;
    }
}

.toolbar {
    width: 100%;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
    }

    form {
        justify-self: flex-end;
        display: flex;
        align-items: center;
    }

    .audience {
        max-width: 60%;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: calc(100vh - 2em);
    padding: 1em 1em;
    position: relative;

    .toolbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-self: stretch;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-background-color);

        .toolbar-row {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-self: stretch;
            justify-content: space-between;
            align-items: center;
        }

        .toolbar-column {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-self: stretch;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.main-app {
    width: 100%;
    height: calc(100vh - 2em);
    padding: 1em;
    background-color: var(--background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-tabs {
    flex-grow: 1;
    width: 100%;
    display: flex;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

    .chat {
        min-width: 45%;
        max-width: 45%;
        position: relative;
        flex-shrink: 1;
    }
}

.connection-status {
    display: flex;
    align-items: center;
    justify-content: center;

    .connected,
    .disconnected {
        position: relative;
        display: flex;
        border-radius: var(--border-radius-small);
        padding: var(--interactive-element-padding);
        border-width: 1px;
        border-style: solid;
        align-items: center;
    }

    .timer-label {
        font-size: 0.9em;
        margin-right: 0.3em;
    }
}

.connected {
    color: var(--success-color);
    box-shadow: color-mix(in srgb, var(--success-color) 70%, transparent) 0px 2px 19px 0px;
}

.disconnected {
    color: var(--failure-color);
    box-shadow: color-mix(in srgb, var(--failure-color) 70%, transparent) 0px 7px 29px 0px;
}

.chat {
    flex-grow: 1;
    max-width: 60em;
    align-self: stretch;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;

    box-shadow: var(--standard-shadow-color) 0px 7px 29px 0px;

    >* {
        margin-bottom: 1em;
    }

    > :last-child {
        margin-bottom: 0;
    }

    .messages {
        position: relative;
        padding: 1em;
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        overflow-y: auto;
        height: 0;
    }

    form {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .chat-header {
        background-color: var(--secondary-background-color);
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 0.5em;
    text-align: start;
    max-width: 100%;

    &.current-user {
        align-items: flex-end;
        text-align: end;

        .message-content {
            border-top-left-radius: var(--border-radius-large);
            border-top-right-radius: 0;
        }
    }
}

.message-sender {
    font-size: 0.8em;
    font-weight: 300;
    color: var(--neutral-text-color);
    margin-bottom: 0.1em;
}

.message-content {
    padding: 0.5em 0.8em;
    border-radius: var(--border-radius-large);
    max-width: 80%;
    word-wrap: break-word;
    hyphens: auto;
    border-top-left-radius: 0;
    box-shadow: var(--standard-shadow-color) 0px 7px 29px 0px;
}

form {
    >*:not(:first-child) {
        margin-left: 0.5em;
    }

    textarea,
    input {
        display: block;
        font: inherit;
        flex-grow: 1;
        border: none;
        padding: var(--interactive-element-padding);
        border-radius: var(--border-radius-small);
        background-color: inherit;
        color: inherit;
        border: 1px solid var(--neutral-text-color);

        &:focus {
            outline: var(--primary-text-color) solid 1px;

            +label {
                color: var(--primary-text-color);
            }
        }
    }
}

button,
.btn {
    font: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--interactive-element-padding);
    background-color: var(--background-color);
    background-color: inherit;
    color: inherit;
    border: 1px solid var(--neutral-text-color);
    transition: color 100ms, border-color 100ms;

    &:not(:disabled):hover,
    &:not(:disabled).active {
        position: relative;
        cursor: pointer;
        z-index: 2;
        color: var(--primary-text-color);
        border-color: var(--primary-text-color);
    }
}

.empty-session-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;

    main {
        max-width: 50%;
    }
}

.menu-wrapper {
    position: relative;
}

.menu-shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
    z-index: 2;

    &.open {
        display: block;
    }
}

.menu {
    cursor: unset;
    position: absolute;
    border-radius: var(--border-radius-small);
    background-color: var(--background-color);
    box-shadow: var(--standard-shadow-color) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    min-width: 30em;
    max-width: calc(100vw - 20em);
    z-index: 3;

    &.closed {
        display: none;
    }

    &.open {
        display: block;
        z-index: 4;
    }

    &.from-top {
        bottom: calc(100% + 0.5em);
    }

    &.from-left {
        left: 0;
    }

    &.from-bottom {
        top: calc(100% + 0.5em);
    }

    &.from-right {
        right: 0;
    }

    .help-display {
        padding: 1em;
        max-height: 50vh;
        overflow: auto;
    }
}

.tools-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 40em;
    overflow-y: scroll;

    li {
        text-align: left;
        padding: 0.8em 1.2em;

        &:first-child {
            padding-top: 1.3em;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }

        &:last-child {
            padding-bottom: 1.3em;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
        }

        p {
            margin: 0;

            &:last-child {
                margin-left: 1.5rem;
                margin-top: 0.2em;
                opacity: 0.8;
                font-size: 0.8em;
            }
        }

        &:not([data-disabled="true"]):hover {
            background-color: var(--active-background-color);
            cursor: pointer;
        }
    }
}

.menu-icon {
    display: inline-block;
    min-width: 1.5rem;
}

.help-display {
    text-align: left;

    ul {
        padding-left: 1em;
    }

    li p {
        margin: 0.5em;

        &:not(:first-child) {
            margin: 0.1em;
            padding-left: 1em;
        }
    }
}

:disabled,
[data-disabled="true"] {
    opacity: 50%;
    cursor: not-allowed;
}

.chat-nav-form {
    display: flex;
    font-weight: 500;
}

.hover-label {
    position: relative;

    label {
        position: absolute;
        opacity: 0.6;
        left: 0.8em;
        pointer-events: none;
        color: var(--text-color);
        transition: transform 100ms, top 100ms, left 100ms, font-size 100ms;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }

    input:focus+label,
    input:not(:placeholder-shown)+label {
        top: calc(-0.8rem - 2px);
        font-size: 0.8em;
        transform: translateY(0);
        left: 0;
    }
}

.audience {
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-start;

    .audience-member {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        border-radius: 1rem;
        width: 3.5em;
        padding: 0.5em;

        &:not(:first-of-type) {
            margin-left: 0.5em;
        }
    }
}

.chat-list {
    width: 100%;
}

.chat-list-title {
    margin-bottom: 0.5em;
    opacity: 0.9;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-list-menu {
    z-index: 0;
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-height: 20rem;
    overflow-y: auto;

    .chat-list-item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        align-items: start;
        justify-content: center;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }

        .chat-list-item-title,
        .chat-list-item-subtext {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .chat-list-item-title {
            font-weight: 500;
        }

        .chat-list-item-subtext {
            font-weight: 300;
            opacity: 0.75;
            font-size: 0.8em;
        }
    }
}

.chat-list-clear {
    // border: none;
    margin-top: 0.5em;
    opacity: 0.9;
    font-size: 0.75em;

    &:hover {
        color: var(--failure-color) !important;
        border-color: var(--failure-color) !important;
    }
}

.text-icon-row {
    display: inline-flex;
    align-items: center;
}

.spin {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
